project/front/account/dist/partials/payments/directives/reservationCharge/reservationCharge.html

<div style="visibility: hidden" class="add-reservation-charge-form">
  <div id="addReservationCharge" class="add-reservation-charge-form__dialog-container md-dialog-container">
    <md-dialog layout-padding="layout-padding" class="add-reservation-charge-form__dialog">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="add-reservation-charge-form__title">Reservation
          </h2><span flex="flex"></span>
          <md-button ng-click="cancel()" class="md-icon-button">
            <ng-md-icon icon="close" style="font-size: 24px; fill:#eee;"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <form name="checkout_form" class="add-reservation-charge-form__checkout">
            <div ng-show="currentStep == 1" class="step">
              <md-input-container flex-gt-sm="flex-gt-sm" class="add-reservation-charge-form__input-container md-block">
                <label>Amount</label>
                <input ng-model="payment.amount" cc-currency="cc-currency"/>
              </md-input-container>
            </div>
            <div ng-show="currentStep == 2" class="step">
              <div layout-gt-xs="row">
                <md-input-container flex-gt-sm="flex-gt-sm" class="add-reservation-charge-form__input-container md-block">
                  <label>Card number</label>
                  <input ng-model="payment.card_num" name="cardNumber" cc-credit-card="cc-credit-card" cc-type="cc-type" cc-number="cc-number" cc-format="cc-format" placeholder="4111 1111 1111 1111" minlength="17" maxlength="19"/>
                </md-input-container>
                <md-input-container class="add-reservation-charge-form__input-container md-block">
                  <label>Month</label>
                  <input ng-model="payment.exp_month" name="cardMonth" maxlength="2" cc-exp-month="cc-exp-month" placeholder="MM"/>
                </md-input-container>
                <md-input-container flex-gt-xs="flex-gt-xs" class="add-reservation-charge-form__input-container md-block">
                  <label>Year</label>
                  <input ng-model="payment.exp_year" name="cardYear" maxlength="2" cc-exp-year="cc-exp-year" placeholder="YY"/>
                </md-input-container>
              </div>
              <div layout-gt-xs="row">
                <md-input-container flex-gt-sm="flex-gt-sm" class="add-reservation-charge-form__input-container md-block">
                  <label>Name</label>
                  <input ng-model="payment.name" name="cardNumber"/>
                </md-input-container>
                <md-input-container class="add-reservation-charge-form__input-container md-block">
                  <label>CVC</label>
                  <input ng-model="payment.cvc"/>
                </md-input-container>
              </div>
              <div layout-gt-xs="row">
                <md-input-container flex-gt-sm="flex-gt-sm" class="add-reservation-charge-form__input-container md-block">
                  <label>Billing city</label>
                  <input ng-model="payment.billing_city" name="billingCity"/>
                </md-input-container>
                <md-input-container class="add-reservation-charge-form__input-container md-block">
                  <label>State</label>
                  <input ng-model="payment.billing_state"/>
                </md-input-container>
                <md-input-container class="add-reservation-charge-form__input-container md-block">
                  <label>Postal Code</label>
                  <input ng-model="payment.billing_zip" ng-maxlength="5"/>
                </md-input-container>
              </div>
            </div>
          </form>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button md-autofocus="md-autofocus">Cancel</md-button><span flex="flex"></span>
        <md-button ng-click="currentStep = 2" ng-show="currentStep == 1">Next step</md-button>
        <md-button ng-click="currentStep = 3" ng-show="currentStep == 2">Pay</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>

project/front/moveBoard/app/payments/directives/reservationCharge/reservationCharge.pug
include ../../../../../../../node_modules/bemto.pug/bemto

+b.add-reservation-charge-form(style="visibility: hidden")
	+e.dialog-container.md-dialog-container#addReservationCharge
		+e('md-dialog').dialog(layout-padding)
			md-toolbar
				.md-toolbar-tools
					+e('h2').title
						| Reservation
					span(flex)
					md-button.md-icon-button(ng-click="cancel()")
						ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
			md-dialog-content
				.md-dialog-content
					+e('form').checkout(name="checkout_form")
						.step(ng-show="currentStep == 1")
							+e('md-input-container').input-container.md-block(flex-gt-sm)
								label Amount
								input(ng-model="payment.amount"  cc-currency)
						.step(ng-show="currentStep == 2")
							div(layout-gt-xs="row")
								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Card number
									input(ng-model="payment.card_num" name="cardNumber" cc-credit-card cc-type cc-number cc-format placeholder="4111 1111 1111 1111" minlength="17" maxlength="19")
								+e('md-input-container').input-container.md-block
									label Month
									input(ng-model="payment.exp_month" name="cardMonth" maxlength="2" cc-exp-month placeholder="MM")
								+e('md-input-container').input-container.md-block(flex-gt-xs)
									label Year
									input(ng-model="payment.exp_year" name="cardYear" maxlength="2" cc-exp-year placeholder="YY")
							div(layout-gt-xs="row")
								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Name
									input(ng-model="payment.name" name="cardNumber")
								+e('md-input-container').input-container.md-block
									label CVC
									input(ng-model="payment.cvc")
							div(layout-gt-xs="row")
								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Billing city
									input(ng-model="payment.billing_city" name="billingCity")
								+e('md-input-container').input-container.md-block
									label State
									input(ng-model="payment.billing_state")
								+e('md-input-container').input-container.md-block
									label Postal Code
									input(ng-model="payment.billing_zip" ng-maxlength="5")

			md-dialog-actions(layout="row")
				md-button(md-autofocus)
					| Cancel
				span(flex)
				md-button(ng-click="currentStep = 2" ng-show="currentStep == 1")
					| Next step
				md-button(ng-click="currentStep = 3" ng-show="currentStep == 2")
					| Pay
