project/front/account/dist/partials/payments/directives/paymentsList/paymentsList.html

<div style="visibility: hidden" class="payment-list">
  <div id="paymentList" class="payment-list__dialog-container md-dialog-container">
    <md-dialog layout-padding="layout-padding" class="payment-list__dialog">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="payment-list__title">Payments
          </h2><span flex="flex"></span>
          <md-button ng-click="cancel()" class="md-icon-button">
            <ng-md-icon icon="close" style="font-size: 24px; fill:#eee;"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content class="payment-list__dialog-content">
        <div ng-show="showLoader" class="md-dialog-content">
          <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular ng-disabled="!showLoader" md-diameter="40" class="md-hue-2"></md-progress-circular>
          </div>
        </div>
        <div ng-show="!showLoader" class="md-dialog-content">
          <section class="cour animated fadeInDown">
            <md-fab-speed-dial md-open="fab.isOpen" md-direction="{{fab.selectedDirection}}" ng-class="fab.selectedMode">
              <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn md-mini">
                  <ng-md-icon icon="plus_one" style="font-size: 28px; fill:#fff;"></ng-md-icon>
                </md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button ng-click="openInvoice($event)" class="payment-list__toolbar-item payment-list__toolbar-item_green">Create invoice
                </md-button>
                <md-button ng-click="openCustomPayment($event); hide()" class="payment-list__toolbar-item md-raised">Add Custom Payment
                </md-button>
                <md-button ng-click="openOnlinePayment($event)" class="payment-list__toolbar-item md-raised">Add Online payment
                </md-button>
                <md-button ng-click="openReservationCharge($event)" class="payment-list__toolbar-item md-raised">Reservation charge
                </md-button>
                <md-button class="payment-list__toolbar-item md-raised md-warn">Refund
                </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>
            <md-switch md-no-ink="md-no-ink" aria-label="Switch No Ink" ng-model="showInvoice" class="md-primary">Show Invoices</md-switch>
          </section>
          <section id="main-content">
            <md-table-container ng-show="!showInvoice">
              <table md-table="md-table" multiple="multiple" ng-model="selected" md-progress="promise">
                <thead md-head="md-head" md-order="query.order">
                  <tr md-row="md-row">
                    <th md-column="md-column">Type</th>
                    <th md-column="md-column">Date</th>
                    <th md-column="md-column">Notes</th>
                    <th md-column="md-column">Amount</th>
                    <th md-column="md-column">Pinding</th>
                  </tr>
                </thead>
                <tbody md-body="md-body">
                  <tr ng-repeat="payment in payments" md-row="md-row" ng-click="openReceipt($event, payment)" ng-if="!filtered || (filtered &amp;&amp; payment.nid == requestId)">
                    <td md-cell="md-cell">{{payment.type}}</td>
                    <td md-cell="md-cell">{{payment.date}}</td>
                    <td md-cell="md-cell">{{payment.description}}</td>
                    <td md-cell="md-cell">${{payment.amount | number: 2}}</td>
                    <td md-cell="md-cell">
                      <md-checkbox md-no-ink="md-no-ink" aria-label="Pending" ng-model="payment.pending" class="md-primary"></md-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-container ng-show="showInvoice">
              <table md-table="md-table" multiple="multiple" ng-model="selected" md-progress="promise">
                <thead md-head="md-head" md-order="query.order">
                  <tr md-row="md-row">
                    <th md-column="md-column">Invoice</th>
                    <th md-column="md-column">Description</th>
                    <th md-column="md-column">Date</th>
                    <th md-column="md-column">Total</th>
                    <th md-column="md-column">Status</th>
                    <th md-column="md-column">Actions</th>
                  </tr>
                </thead>
                <tbody md-body="md-body">
                  <tr ng-repeat="invoice in invoices" md-row="md-row" ng-if="!filtered || (filtered &amp;&amp; isHaveCharge(invoice, requestId))">
                    <td md-cell="md-cell" ng-click="openInvoice($event, invoice, true)">{{ entityId }} - {{ invoice.id }}</td>
                    <td md-cell="md-cell" ng-click="openInvoice($event, invoice, true)">{{invoice.data.charges[0].description}}</td>
                    <td md-cell="md-cell" ng-click="openInvoice($event, invoice, true)">{{invoice.data.date}}</td>
                    <td md-cell="md-cell" ng-click="openInvoice($event, invoice, true)">${{invoice.data.total | number: 2}}</td>
                    <td md-cell="md-cell" ng-click="openInvoice($event, invoice, true)"> <span ng-if="invoice.data.flag == 0" class="flag-raw">Not send</span><span ng-if="invoice.data.flag == 1" class="flag-raw">Send</span></td>
                    <td md-cell="md-cell"> <a ng-href="/account/#/invoice/{{invoice.hash}}" title="view invoice" target="_blank"><i class="icon-eye"></i></a><a ng-hide="invoice.data.flag == fieldData.enums.invoice_flags.PAID" href="javascript:void(0)" ng-click="deleteInvoice(invoice)" title="delete invoice"><i class="icon-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </section>
          <div edit-receipt="edit-receipt" open-receipt="openReceipt"></div>
          <div payments-custom-payment="payments-custom-payment" open-custom-payment="openCustomPayment" entity-type="{{entityType}}" entity-id="{{entityId}}" user-info="userInfo" pay-success="updatePayments"></div>
          <div payments-online-payment="payments-online-payment" open-online-payment="openOnlinePayment" user-info="userInfo" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments"></div>
          <div payments-reservation-charge="payments-reservation-charge" open-reservation-charge="openReservationCharge" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments"></div>
          <div payments-invoice="payments-invoice" open-invoice="openInvoice" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments" user-info="userInfo"></div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </div>
</div>

project/front/moveBoard/app/payments/directives/paymentsList/paymentsList.pug
include ../../../../../../../node_modules/bemto.pug/bemto

+b.payment-list(style="visibility: hidden")
    +e.dialog-container.md-dialog-container#paymentList
        +e('md-dialog').dialog(layout-padding)
            md-toolbar
                .md-toolbar-tools
                    +e('h2').title
                        | Payments
                    span(flex)
                    md-button.md-icon-button(ng-click="cancel()")
                        ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
            +e('md-dialog-content').dialog-content
                .md-dialog-content(ng-show="showLoader")
                    div(layout="row" layout-sm="column" layout-align="space-around")
                        md-progress-circular(ng-disabled="!showLoader" class="md-hue-2" md-diameter="40")
                .md-dialog-content(ng-show="!showLoader")
                    section.cour.animated.fadeInDown
                        md-fab-speed-dial(md-open='fab.isOpen', md-direction='{{fab.selectedDirection}}', ng-class='fab.selectedMode')
                            md-fab-trigger
                                md-button.md-fab.md-warn.md-mini(aria-label='menu')
                                    ng-md-icon(icon="plus_one" style='font-size: 28px; fill:#fff;')
                            md-fab-actions
                                +e('md-button').toolbar-item_green(ng-click="openInvoice($event)")
                                    | Create invoice
                                +e('md-button').toolbar-item.md-raised(ng-click="openCustomPayment($event); hide()")
                                    | Add Custom Payment
                                +e('md-button').toolbar-item.md-raised(ng-click="openOnlinePayment($event)")
                                    | Add Online payment
                                +e('md-button').toolbar-item.md-raised(ng-click="openReservationCharge($event)")
                                    | Reservation charge
                                +e('md-button').toolbar-item.md-raised.md-warn
                                    | Refund
                        md-switch.md-primary(md-no-ink aria-label="Switch No Ink" ng-model="showInvoice")
                            | Show Invoices

                    section#main-content
                        md-table-container(ng-show="!showInvoice")
                            table(md-table multiple ng-model='selected' md-progress='promise')
                                thead(md-head md-order='query.order' )
                                    tr(md-row)
                                        th(md-column) Type
                                        th(md-column) Date
                                        th(md-column) Notes
                                        th(md-column) Amount
                                        th(md-column) Pinding
                                tbody(md-body)
                                    tr(ng-repeat='payment in payments' md-row ng-click="openReceipt($event, payment)" ng-if="!filtered || (filtered && payment.nid == requestId)")
                                        td(md-cell) {{payment.type}}
                                        td(md-cell) {{payment.date}}
                                        td(md-cell) {{payment.description}}
                                        td(md-cell) ${{payment.amount | number: 2}}
                                        td(md-cell)
                                            md-checkbox.md-primary(md-no-ink aria-label="Pending" ng-model="payment.pending")
                        md-table-container(ng-show="showInvoice")
                            table(md-table multiple ng-model='selected' md-progress='promise')
                                thead(md-head md-order='query.order' )
                                    tr(md-row)
                                        th(md-column) Invoice
                                        th(md-column) Description
                                        th(md-column) Date
                                        th(md-column) Total
                                        th(md-column) Status
                                        th(md-column) Actions
                                tbody(md-body)
                                    tr(ng-repeat='invoice in invoices' md-row ng-if="!filtered || (filtered && isHaveCharge(invoice, requestId))")
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) {{ entityId }} - {{ invoice.id }}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) {{invoice.data.charges[0].description}}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) {{invoice.data.date}}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) ${{invoice.data.total | number: 2}}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" )
                                            span.flag-raw(ng-if="invoice.data.flag == 0") Not sent
                                            span.flag-raw(ng-if="invoice.data.flag == 1") Send
                                        td(md-cell)
                                            a(ng-href="/account/#/invoice/{{invoice.hash}}" title="view invoice" target="_blank")
                                                i.icon-eye
                                            a(ng-hide="invoice.data.flag == fieldData.enums.invoice_flags.PAID" href="javascript:void(0)" ng-click="deleteInvoice(invoice)" title="delete invoice")
                                                i.icon-trash

                    div(edit-receipt open-receipt="openReceipt")
                    div(payments-custom-payment open-custom-payment="openCustomPayment" entity-type="{{entityType}}" entity-id="{{entityId}}" user-info="userInfo" pay-success="updatePayments")
                    div(payments-online-payment open-online-payment="openOnlinePayment" user-info="userInfo" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments")
                    div(payments-reservation-charge open-reservation-charge="openReservationCharge" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments")
                    div(payments-invoice open-invoice="openInvoice" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments" user-info="userInfo")
