project/front/moveBoard/app/account/areas/restore-password/restore.pug
.restore-email-page(class="middle-box text-center loginscreen animated fadeInDown" ng-class="{'disable':busy}")
	div
		h1(class="logo-name")
			i(class="fa fa-truck")
	h3 E-mail New Password
	form(class="m-t ng-pristine ng-valid" ng-submit="restorePassword()" role="form" name="form")
		.busyoverlay(ng-show="loading")
			.sk-cube-grid
				.sk-cube(class="sk-cube1")
				.sk-cube(class="sk-cube2")
				.sk-cube(class="sk-cube3")
				.sk-cube(class="sk-cube4")
				.sk-cube(class="sk-cube5")
				.sk-cube(class="sk-cube6")
				.sk-cube(class="sk-cube7")
				.sk-cube(class="sk-cube8")
				.sk-cube(class="sk-cube9")
		.restore-email-error-message(ng-show="form.email.$invalid && !form.email.$pristine") Enter a valid email.
		.restore-email-error-message {{error}}
		.form-group
			input(class="form-control" id="email" ng-model="email" placeholder="Email" type="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$")
		button(ng-disabled="form.$invalid || dataLoading" type="submit" class="btn btn-primary block full-width m-b") E-mail New Password
	p(class="m-t")
		small Powered by Elromco 2015

project/front/account/app/account/areas/login/restore.html
<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="LoginController"
     ng-class="{'disable':busy}">
    <div>
        <div>
            <h1 class="logo-name">
                <i class="fa fa-truck"></i>
            </h1>
        </div>
        <h3>E-mail New Password</h3>
        <form class="m-t ng-pristine ng-valid" ng-submit="restorePassword()" role="form"  name="form">
            <div ng-show="loading" class="busyoverlay" style="background: rgba(243, 243, 244, 0.49);height: 150px;">
                <div class="sk-cube-grid" style="margin-top: 0%;margin: 0 auto;">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>
            <div class="restore-email-error-message">
                {{error}}
            </div>
            <div class="restore-email-error-message" ng-show="form.email.$invalid && !form.email.$pristine">
              Enter a valid email.
            </div>
            <div class="form-group">
                <input class="form-control" id="email" ng-model="email"  placeholder="Email" name="email" type="email" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            </div>
            <button ng-disabled="form.$invalid || dataLoading" type="submit" class="btn btn-primary block full-width m-b">
                E-mail New Password</button>


        </form>
        <p class="m-t"> <small>Powered by Elromco 2015</small> </p>
    </div>
</div>
