project/front/moveBoard/app/payments/directives/editReceipt/editReceipt.pug
include ../../../../../../../node_modules/bemto.pug/bemto

+b.edit-receipt-form(style="visibility: hidden")
    +e.dialog-container.md-dialog-container#editReceipt
        +e('md-dialog').dialog(layout-padding)
            md-toolbar
                .md-toolbar-tools
                    +e('h2').title
                        | Receipt | \#{{payment.transaction_id}}
                    span(flex)
                    md-button.md-icon-button(ng-click="cancel()")
                        ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
            md-dialog-content
                .md-dialog-content
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Id
                        input(ng-model="payment.id" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Type
                        input(ng-model="payment.payment_flag" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Transaction id
                        input(ng-model="payment.transaction_id" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Date
                        input(ng-model="payment.Date")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Name
                        input(ng-model="payment.name" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Phone
                        input(ng-model="payment.phone")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Email
                        input(ng-model="payment.email")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Amount
                        input(ng-model="payment.amount")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Account number
                        input(ng-model="payment.account_number")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Auth_code
                        input(ng-model="payment.auth_code")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Description
                        input(ng-model="payment.description")



            md-dialog-actions(layout="row")
                md-button(md-autofocus)
                    | Cancel
                span(flex)
                md-button(ng-click="answer('useful')")
                    | Save

project/front/account/dist/partials/payments/directives/editReceipt/editReceipt.html

<div style="visibility: hidden" class="edit-receipt-form">
  <div id="editReceipt" class="edit-receipt-form__dialog-container md-dialog-container">
    <md-dialog layout-padding="layout-padding" class="edit-receipt-form__dialog">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="edit-receipt-form__title">Receipt | #{{payment.transaction_id}}
          </h2><span flex="flex"></span>
          <md-button ng-click="cancel()" class="md-icon-button">
            <ng-md-icon icon="close" style="font-size: 24px; fill:#eee;"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Id</label>
            <input ng-model="payment.id" disabled="disabled"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Type</label>
            <input ng-model="payment.payment_flag" disabled="disabled"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Transaction id</label>
            <input ng-model="payment.transaction_id" disabled="disabled"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Date</label>
            <input ng-model="payment.Date"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Name</label>
            <input ng-model="payment.name" disabled="disabled"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Phone</label>
            <input ng-model="payment.phone"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Email</label>
            <input ng-model="payment.email"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Amount</label>
            <input ng-model="payment.amount"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Account number</label>
            <input ng-model="payment.account_number"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Auth_code</label>
            <input ng-model="payment.auth_code"/>
          </md-input-container>
          <md-input-container flex-gt-sm="flex-gt-sm" class="edit-receipt-form__input-container md-block">
            <label>Description</label>
            <input ng-model="payment.description"/>
          </md-input-container>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button md-autofocus="md-autofocus">Cancel</md-button><span flex="flex"></span>
        <md-button ng-click="answer('useful')">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>
