project/front/moveBoard/app/payments/directives/onlinePayment/onlinePayment.pug
include ../../../../../../../node_modules/bemto.pug/bemto

+b.add-online-payment-form(style="visibility: hidden")
	+e.dialog-container.md-dialog-container#addOnlinePayment
		+e('md-dialog').dialog(layout-padding)
			md-toolbar
				.md-toolbar-tools
					+e('h2').title
						| Online Payment
					span(flex)
					md-button.md-icon-button(ng-click="cancel()")
						ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
			md-dialog-content
				.md-dialog-content(ng-show="showLoader")
					div(layout="row" layout-sm="column" layout-align="space-around")
						md-progress-circular(ng-disabled="!showLoader" class="md-hue-2" md-diameter="40")

				.md-dialog-content(ng-show="!showLoader")

					.step(ng-show="currentStep == 1")
						+e('md-input-container').input-container.md-block(flex-gt-sm)
							label Amount
							input(ng-model="payment.amount"  cc-currency)

					.step(ng-show="currentStep == 2")
						+e.amount
							span
								i.fa.fa-dollar
							| {{payment.amount | currency:""}}
						+e('form').checkout(name="checkout_form")
							+e.toolbar
								+e.toolbar-item
									+e('md-button').button-icon.md-icon-button(ng-click="currentPaymentType=0")
										ng-md-icon(icon="local_atm" style='font-size: 24px;' ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 0}")
										br
										| Cash

								+e.toolbar-item
									+e('md-button').button-icon.md-icon-button(ng-click="currentPaymentType=1")
										ng-md-icon(icon="payment" style='font-size: 24px;' ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 1}")
										br
										| Credit Card

								+e.toolbar-item
									+e('md-button').button-icon.md-icon-button(ng-click="currentPaymentType=2")
										ng-md-icon(icon="note_add" style='font-size: 24px;' ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 2}")
										br
										| Check
							+e.payment-type-container
								+e.payment-type(ng-show="currentPaymentType == 0")
									+e('label').payment-label
										| CASH PAYMENT
								+e.payment-type(ng-show="currentPaymentType == 1")
									div(layout-gt-xs="row")
										+e('md-input-container').input-container.md-block(flex-gt-sm)
											label Card number
											input(ng-model="payment.card_num" name="cardNumber" cc-credit-card cc-type cc-number cc-format placeholder="4111 1111 1111 1111" minlength="17" maxlength="19")
										+e('md-input-container').input-container.md-block
											label Month
											input(ng-model="payment.exp_month" name="cardMonth" maxlength="2" cc-exp-month placeholder="MM")
										+e('md-input-container').input-container.md-block(flex-gt-xs)
											label Year
											input(ng-model="payment.exp_year" name="cardYear" maxlength="2" cc-exp-year placeholder="YY")
									div(layout-gt-xs="row")
										+e('md-input-container').input-container.md-block(flex-gt-sm)
											label Name
											input(ng-model="payment.name" name="cardNumber")
										+e('md-input-container').input-container.md-block
											label CVC
											input(ng-model="payment.cvc")
									div(layout-gt-xs="row")
										+e('md-input-container').input-container.md-block(flex-gt-sm)
											label Billing city
											input(ng-model="payment.billing_city" name="billingCity")
										+e('md-input-container').input-container.md-block
											label State
											input(ng-model="payment.billing_state")
										+e('md-input-container').input-container.md-block
											label Postal Code
											input(ng-model="payment.billing_zip" ng-maxlength="5")

								+e.payment-type(ng-show="currentPaymentType == 2")
									+e('md-input-container').input-container.md-block(flex-gt-sm)
										label Check number
										input(ng-model="payment.check_num" name="paymentFlag")

								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Payment flag
									input(ng-model="payment.payment_flag" name="paymentFlag")

			md-dialog-actions(layout="row")
				md-button(md-autofocus)
					| Cancel
				span(flex)
				md-button(ng-click="currentStep = 2" ng-show="currentStep == 1")
					| Next step
				md-button(ng-click="save()" ng-show="currentStep == 2")
					| Pay

project/front/account/dist/partials/payments/directives/onlinePayment/onlinePayment.html

<div style="visibility: hidden" class="add-online-payment-form">
  <div id="addOnlinePayment" class="add-online-payment-form__dialog-container md-dialog-container">
    <md-dialog layout-padding="layout-padding" class="add-online-payment-form__dialog">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="add-online-payment-form__title">Online Payment
          </h2><span flex="flex"></span>
          <md-button ng-click="cancel()" class="md-icon-button">
            <ng-md-icon icon="close" style="font-size: 24px; fill:#eee;"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div ng-show="showLoader" class="md-dialog-content">
          <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular ng-disabled="!showLoader" md-diameter="40" class="md-hue-2"></md-progress-circular>
          </div>
        </div>
        <div ng-show="!showLoader" class="md-dialog-content">
          <div ng-show="currentStep == 1" class="step">
            <md-input-container flex-gt-sm="flex-gt-sm" class="add-online-payment-form__input-container md-block">
              <label>Amount</label>
              <input ng-model="payment.amount" cc-currency="cc-currency"/>
            </md-input-container>
          </div>
          <div ng-show="currentStep == 2" class="step">
            <div class="add-online-payment-form__amount"><span><i class="fa fa-dollar"></i></span>{{payment.amount | currency:""}}
            </div>
            <form name="checkout_form" class="add-online-payment-form__checkout">
              <div class="add-online-payment-form__toolbar">
                <div class="add-online-payment-form__toolbar-item">
                  <md-button ng-click="currentPaymentType=0" class="add-online-payment-form__button-icon md-icon-button">
                    <ng-md-icon icon="local_atm" style="font-size: 24px;" ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 0}"></ng-md-icon><br/>Cash
                  </md-button>
                </div>
                <div class="add-online-payment-form__toolbar-item">
                  <md-button ng-click="currentPaymentType=1" class="add-online-payment-form__button-icon md-icon-button">
                    <ng-md-icon icon="payment" style="font-size: 24px;" ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 1}"></ng-md-icon><br/>Credit Card
                  </md-button>
                </div>
                <div class="add-online-payment-form__toolbar-item">
                  <md-button ng-click="currentPaymentType=2" class="add-online-payment-form__button-icon md-icon-button">
                    <ng-md-icon icon="note_add" style="font-size: 24px;" ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 2}"></ng-md-icon><br/>Check
                  </md-button>
                </div>
              </div>
              <div class="add-online-payment-form__payment-type-container">           
                <div ng-show="currentPaymentType == 0" class="add-online-payment-form__payment-type">
                  <label class="add-online-payment-form__payment-label">CASH PAYMENT
                  </label>
                </div>
                <div ng-show="currentPaymentType == 1" class="add-online-payment-form__payment-type">               
                  <div layout-gt-xs="row">
                    <md-input-container flex-gt-sm="flex-gt-sm" class="add-online-payment-form__input-container md-block">
                      <label>Card number</label>
                      <input ng-model="payment.card_num" name="cardNumber" cc-credit-card="cc-credit-card" cc-type="cc-type" cc-number="cc-number" cc-format="cc-format" placeholder="4111 1111 1111 1111" minlength="17" maxlength="19"/>
                    </md-input-container>
                    <md-input-container class="add-online-payment-form__input-container md-block">
                      <label>Month</label>
                      <input ng-model="payment.exp_month" name="cardMonth" maxlength="2" cc-exp-month="cc-exp-month" placeholder="MM"/>
                    </md-input-container>
                    <md-input-container flex-gt-xs="flex-gt-xs" class="add-online-payment-form__input-container md-block">
                      <label>Year</label>
                      <input ng-model="payment.exp_year" name="cardYear" maxlength="2" cc-exp-year="cc-exp-year" placeholder="YY"/>
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row">
                    <md-input-container flex-gt-sm="flex-gt-sm" class="add-online-payment-form__input-container md-block">
                      <label>Name</label>
                      <input ng-model="payment.name" name="cardNumber"/>
                    </md-input-container>
                    <md-input-container class="add-online-payment-form__input-container md-block">
                      <label>CVC</label>
                      <input ng-model="payment.cvc"/>
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row">
                    <md-input-container flex-gt-sm="flex-gt-sm" class="add-online-payment-form__input-container md-block">
                      <label>Billing city</label>
                      <input ng-model="payment.billing_city" name="billingCity"/>
                    </md-input-container>
                    <md-input-container class="add-online-payment-form__input-container md-block">
                      <label>State</label>
                      <input ng-model="payment.billing_state"/>
                    </md-input-container>
                    <md-input-container class="add-online-payment-form__input-container md-block">
                      <label>Postal Code</label>
                      <input ng-model="payment.billing_zip" ng-maxlength="5"/>
                    </md-input-container>
                  </div>
                </div>
                <div ng-show="currentPaymentType == 2" class="add-online-payment-form__payment-type">
                  <md-input-container flex-gt-sm="flex-gt-sm" class="add-online-payment-form__input-container md-block">
                    <label>Check number</label>
                    <input ng-model="payment.check_num" name="paymentFlag"/>
                  </md-input-container>
                </div>
                <md-input-container flex-gt-sm="flex-gt-sm" class="add-online-payment-form__input-container md-block">
                  <label>Payment flag</label>
                  <input ng-model="payment.payment_flag" name="paymentFlag"/>
                </md-input-container>
              </div>
            </form>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button md-autofocus="md-autofocus">Cancel</md-button><span flex="flex"></span>
        <md-button ng-click="currentStep = 2" ng-show="currentStep == 1">Next step</md-button>
        <md-button ng-click="save()" ng-show="currentStep == 2">Pay</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>
